html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  width: 100px;
  height: 100px;
  border: 1px #ccc dotted;
  margin: 10px;
  border-radius: 50%;
  background-color: #eee;
}

.blue {
  background-color: #492540;
}

.green{
  background-color: #C03546;
}

.red{
  background-color: #F26D5B;
}

.invisible {
  display: none;
}

.visible {
  display: block;
  border: 3px #F6EA8C dashed;
  border-radius: 50%;
  background-color: white;
}
